<p>
  <b>Name:</b>
  <%=h @company.name %>
</p>

<p>
  <b>Url:</b>
  <%=h @company.url %>
</p>

<p>
  <b>Address:</b>
  <%=h @company.address %>
</p>

<p>
  <b>Phone:</b>
  <%=h @company.phone %>
</p>

<p>
  <b>Links:</b>
  <%=h @company.links %>
</p>

<p>
  <b>Owner:</b>
  <%=h @company.owner %>
</p>


<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>