<h1>Bellingham Rubyists <em>(aka #bhamruby)</em></h1> 
<div id="irc">You can find us at #bhamruby on irc.oftc.net.</div> 
<% if @next_event %>		
  <div id="next_event">
    The next event will be
    <strong><%=@next_event.date_and_time.strftime("%I:%M %p") -%></strong>
    <%=@next_event.date_and_time.strftime("%A") -%>, <strong><%=@next_event.date_and_time.strftime("%B %d") -%></strong>
    at <a href="http://maps.google.com/maps?q=<%=url_encode @next_event.location_address.gsub(/\s/,' ') -%>"><%=h @next_event.location_title -%></a>.
    Bring beer, snacks, or code to share.
  </div>
<% end %>
